SUPABASE_URL=http://127.0.0.1:42691
SUPABASE_ANON_KEY=sb_publishable_REPLACE_ME
SUPABASE_TEST_PHONE=+59170000001
SUPABASE_TEST_OTP=123456
SUPABASE_AUTH_SMS_TWILIO_AUTH_TOKEN=token
SIMULATE_SLOW_SIGNUP=false # for dev purposes, just to check alt flows that have to do with slow signup
